<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação de Interface de Questões</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="question-container">
        <div id="header1" class="question-header">
            <span><strong>Question: #</strong> {{id}}</span>
        </div>

        <div id="header2" class="question-title">
            {{vendor}} > {{exam}}
        </div>

        <div class="question-description">
            <p>{{question}}</p>
        </div>

        <div class="question-options">
            {{#opt_1}}
            <div id="a" class="opt-h option {{A_correct}}">
                <div class="option-circle">A</div>
                <div class="option-text">{{opt_1}}</div>
            </div>
            {{/opt_1}}

            {{#opt_2}}
            <div id="b" class="opt-h option {{B_correct}}">
                <div class="option-circle">B</div>
                <div class="option-text">{{opt_2}}</div>
            </div>
            {{/opt_2}}

            {{#opt_3}}
            <div id="c" class="opt-h option {{C_correct}}">
                <div class="option-circle">C</div>
                <div class="option-text">{{opt_3}}</div>
            </div>
            {{/opt_3}}

            {{#opt_4}}
            <div id="d" class="opt-h option {{D_correct}}">
                <div class="option-circle">D</div>
                <div class="option-text">{{opt_4}}</div>
            </div>
            {{/opt_4}}

            {{#opt_5}}
            <div id="e" class="opt-h option {{E_correct}}">
                <div class="option-circle">E</div>
                <div class="option-text">{{opt_5}}</div>
            </div>
            {{/opt_5}}

            {{#opt_6}}
            <div id="f" class="opt-h option {{F_correct}}">
                <div class="option-circle">F</div>
                <div class="option-text">{{opt_6}}</div>
            </div>
            {{/opt_6}}
        </div>

        <div class="section">
            <div class="bar foot" onclick="toggle('choice')">選択したもの</div>
            <div id="choice" class="question-answer"></div>
        </div>
        {{#answer}}
        <div class="section">
            <div class="bar foot" onclick="toggle('answer')">正解</div>
            <div id="answer" class="question-answer">{{answer}}</div>
        </div>
        {{/answer}}

        {{#comments}}
        <div class="section">
            <div class="bar foot" onclick="toggle('comments')">解説（クリックで表示）</div>
            <div id="comments" class="question-coments">{{comments}}</div>
        </div>
    </div>
    {{/comments}}

    <script>
        function toggle(e) {
            var box = document.getElementById(e);
            if (box) {
                if (box.style.display == 'none') {
                    box.style.display = 'block';
                } else {
                    box.style.display = 'none';
                }
            }
        }

        window.onload = function () { }
        var choices = [];
        for (var i = 0; i < 6; i++) {
            var key = 'opt' + String.fromCharCode('a'.charCodeAt(0) + i);
            var value = sessionStorage.getItem(key);
            if (value) {
                choices.push(value.toUpperCase());
            }
        }

        var choiceElement = document.getElementById('choice');
        if (choices.length > 0) {
            choiceElement.innerText = choices.join(",");
        } else {
            choiceElement.innerText = "No choices selected.";
        }

        // 選択肢を選択できないようにする
        var options = document.querySelectorAll('.option');
        options.forEach(function (option) {
            option.style.pointerEvents = 'none';
        });

        // デバッグ用に選択された値を表示
        console.log("Choices: ", choices);


        // 正解に色をつけ、選択された選択肢が間違いの場合は赤い色にする部分
        var selected = [];
        selected.push(sessionStorage.getItem('opta'));
        selected.push(sessionStorage.getItem('optb'));
        selected.push(sessionStorage.getItem('optc'));
        selected.push(sessionStorage.getItem('optd'));
        selected.push(sessionStorage.getItem('opte'));
        selected.push(sessionStorage.getItem('optf'));

        for (var i = 0; i < selected.length; i++) {
            var tmp = document.getElementById(selected[i]);
            if (tmp !== null) {
                tmp.classList.add("incorrect");
            }
        }

        var divs = document.querySelectorAll('.True');
        divs.forEach(function (div) {
            div.classList.add("correct");
            div.classList.remove("incorrect");
        });
    </script>
</body>

</html>