<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Simulação de Interface de Questões</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>

<div class="question-container">
    <div id="header1" class="question-header">
        <span><strong>Question: #</strong> {{id}}</span>
    </div>
    <div id="header2" class="question-title">{{vendor}} > {{exam}}</div>
    <div class="question-description"><p>{{question}}</p></div>
    <div class="question-options">
        {{#opt_1}}
        <div id="a" class="opt-h option {{A_correct}}" onclick="setopt('a')">
            <div class="option-circle">A</div>
            <div class="option-text">{{opt_1}}</div>
        </div>
        {{/opt_1}}

        {{#opt_2}}
        <div id="b" class="opt-h option {{B_correct}}" onclick="setopt('b')">
            <div class="option-circle">B</div>
            <div class="option-text">{{opt_2}}</div>
        </div>
        {{/opt_2}}

        {{#opt_3}}
        <div id="c" class="opt-h option {{C_correct}}" onclick="setopt('c')">
            <div class="option-circle">C</div>
            <div class="option-text">{{opt_3}}</div>
        </div>
        {{/opt_3}}

        {{#opt_4}}
        <div id="d" class="opt-h option {{D_correct}}" onclick="setopt('d')">
            <div class="option-circle">D</div>
            <div class="option-text">{{opt_4}}</div>
        </div>
        {{/opt_4}}

        {{#opt_5}}
        <div id="e" class="opt-h option {{E_correct}}" onclick="setopt('e')">
            <div class="option-circle">E</div>
            <div class="option-text">{{opt_5}}</div>
        </div>
        {{/opt_5}}

        {{#opt_6}}
        <div id="f" class="opt-h option {{F_correct}}" onclick="setopt('f')">
            <div class="option-circle">F</div>
            <div class="option-text">{{opt_6}}</div>
        </div>
        {{/opt_6}}
    </div>

    <div class="section">
        <div class="bar foot" onclick="toggle('choice')">選択中</div>
        <div id="choice" class="question-answer">　</div>
    </div>

  
</div>
<br>
<br>
<br>
<br>

<script>
sessionStorage.removeItem('opta');
sessionStorage.removeItem('optb');
sessionStorage.removeItem('optc');
sessionStorage.removeItem('optd');
sessionStorage.removeItem('opte');
sessionStorage.removeItem('optf');

function setopt(message) {
    var div = document.getElementById(message);
    var isSelected = div.classList.contains("selected");

    if (isSelected) {
        sessionStorage.removeItem('opt' + message);
        div.classList.remove("selected");
    } else {
        sessionStorage.setItem('opt' + message, message);
        div.classList.add("selected");
    }

    updateChoiceDisplay();
}

function updateChoiceDisplay() {
    var choices = [];
    for (var i = 1; i <= 6; i++) {
        var key = 'opt' + String.fromCharCode('a'.charCodeAt(0) + i - 1);
        var value = sessionStorage.getItem(key);
        if (value) {
            choices.push(value.toUpperCase());
        }
    }
    document.getElementById('choice').innerText = choices.join(",");
    updateDebugInfo(choices);
}


// ページ読み込み時に選択肢を表示
window.onload = function() {
    for (var i = 1; i <= 6; i++) {
        var key = 'opt' + String.fromCharCode('a'.charCodeAt(0) + i - 1);
        var value = sessionStorage.getItem(key);
        if (value) {
            var id = key.slice(-1); // 'opt'の後の文字を取得
            var element = document.getElementById(id);
            if (element) {
                element.classList.add('selected');
            }
        }
    }
    updateChoiceDisplay();
}

function toggle(e) {
    var box = document.getElementById(e);
    if (box) {
        if (box.style.display == 'none') {
            box.style.display = 'block';
        } else {
            box.style.display = 'none';
        }
    }
}
</script>

<input type="hidden" name="user_choice_A">
<input type="hidden" name="user_choice_B">
<input type="hidden" name="user_choice_C">
<input type="hidden" name="user_choice_D">
<input type="hidden" name="user_choice_E">
<input type="hidden" name="user_choice_F">
</body>
</html>
