:root {
  --tamanho-fonte-base: 100%;
}


.c-d {
  border: 2px solid #000000;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.c-a {
  color: #212529;
  background-color: #ffc107;
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.bar {
  border-radius: 3px;
  border-bottom: 1px solid #29487d;
  color: #fff;
  padding: 5px;
  padding-left: 35px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  background: no-repeat 5px center, #3c4d7e;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.bar #url a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.section {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  margin: 5px 0;

}

body {
  font-family: Arial, sans-serif;
  background: #e9ebee;
  margin: 5px;
  font-size: 16px;
}


.question-coments {
  background: #fff;
  padding: 10px;
  justify-content: space-between;
  font-size: var(--tamanho-fonte-base);
  text-align: left !important;
  display: none;
}

.question-answer {
  background: #fff;
  padding: 10px;
  justify-content: space-between;
  font-size: var(--tamanho-fonte-base);
  text-align: left !important;

}

@media screen and (max-width: 768px) {

  .question-description,
  .question-description p {
    text-align: left !important;
    /* タブレットサイズでも左寄せにする */
  }
}

.question-container {
  background: white;
  margin: 5px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #000;
  margin-top: 1px;
  margin-bottom: 1px;
}


.question-header {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 2px;
  padding-top: 5px;
}

.question-title {
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #3c4d7e;
  padding: 10px;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.question-description p {
  padding: 15px;
  margin: 0;
  background: #f5f5f5;
  font-size: var(--tamanho-fonte-base);
  text-align: left !important;
}

.question-options {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.option {
  background: #f5f5f5;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: left;
}


.coment {
  background: #f5f5f5;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: left;
}

.option.correct {
  border-color: #9FFF9F;
  background: #DEFDDE;
}

.option.incorrect {
  border-color: #FF7A7A;
  background: #F9D9D9;
}

.option.selected {
  background: #bfbfbf;
}

.opt-h:hover {
  background: #bfbfbf;
}

.tags {
  color: #000000;
  font-size: 70%;
  text-align: left;
  text-transform: uppercase;
  position: fixed;
  border-radius: 0px;
  border-bottom: 0px solid #29487d;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  background: #365899;
  background-repeat: repeat;
  background-position: 5px center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

.option-circle {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #333;
  border: 0px solid #333;
  margin-right: 5px;
  margin-left: 1px;
  min-width: 30px;
  min-height: 30px;
}

.option-text {
  font-size: var(--tamanho-fonte-base);
  color: #333;
}




.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(0, 5%, 25%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(0, 5%, 35%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0, 0%, 0%, .1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0, 0%, 0%, .3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em, -7em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em, -6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em, -3.2em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em, 1em, 0);
}